.FourBlock {
    @apply bg-defCol3 my-10 py-14;
    .bordr_topLeft {
        position: absolute;
        left: 0;
        top: 0;
        width: 40%;
        height: 70px;
        background-color: #fff;
        border-bottom-right-radius: 20px;
        &::after {
            content: '';
            position: absolute;
            right: -20px;
            top: -10px;
            width: 30px;
            height: 30px;
            border-left: 10px solid #fff;
            border-top: 10px solid #fff;
            border-top-left-radius: 40px;
        }
    }
}